*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.header-container {
    height: 50rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../image/images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #eee;
}

.header-container p {
    font-size: 1rem;
    color: #eee;
}