
<div class="header-container">
    <h1 class="title">Hola a todos, este es mi servidor!!!</h1>
    <p>Estamos trabajando con motores de Plantila de HBS directamente en un servidor monolitico</p>
</div>

