<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/usuario">Registrar Usuario</a></li>
        <li><a href="/products">Registrar Producto</a></li>
        <li><a href="/ventas">Ver Producto</a></li>
    </ul>
</nav>